.main-panel .page-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
.sub-active {
    /* color: red !important; */
    background: #673ab7 !important;
}
